/* General Button Styling */
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #398efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:disabled {
    background-color: grey;
    cursor: not-allowed;
}
button:hover {
    background-color: #155ab4;
}

/* Compare Button Specific Styling */
.compare-button {
    margin: 20px auto;
    background-color: #398efd;
}
.compare-button:hover {
    background-color: #155ab4;
}

/* Input Container Styling */
.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-group {
    width: 45%;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}
input[type="date"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="text"]::placeholder,
input[type="date"]::placeholder {
    color: #999;
}

/* Checkbox Styling */
.checkbox-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.checkbox-container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.checkbox-container label {
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

/* Output Container Styling */
.output-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.output-box {
    width: 45%;
    resize: both;
}
.output-display {
    height: 250px;
    overflow-y: scroll;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
    resize: both;
}

/* Copy Button Styling */
.copy-button {
    padding: 3px 6px;
    font-size: 10px;
    background-color: #cacaca;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.copy-button:hover {
    background-color: #797979;
}

/* Compare Display Styling */
.compare-display {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 20px;
    resize: both;
}

/* Searchable Select Styling */
.searchable-select {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
.searchable-select input,
.searchable-select select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.searchable-select input {
    border-radius: 5px 5px 0 0;
}
.searchable-select select {
    border-radius: 0 0 5px 5px;
}

/* Banner Styling */
.banner {
    background-color: #1b75eb;
    color: white;
    padding: 10px 0;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}
.banner a {
    color: white;
    font-weight: bold;
    margin: 0 20px;
    text-decoration: none;
}
.banner a:hover {
    text-decoration: underline;
}
.banner a.active {
    font-size: 18px;
    text-decoration: underline;
}

/* Results List Styling */
.results-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#resultsList {
    list-style-type: none;
    padding: 15px;
    text-align: left;
}
#resultsList li {
    background-color: #f0f0f0;
    font-size: 20px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
.data-type-dropdown {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}